 @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

 *,
 ::after,
 ::before {
     box-sizing: border-box;
     margin: 0;
 }

 body {
     background-color: #F2EAE2;
     /* font-family: 'Fraunces', serif; */
     font-family: 'Montserrat', sans-serif;
 }

 .card {
     background-color: #FFFFFF;
     max-width: 375px;
     border-radius: 10px;
     margin: 30px auto auto auto;
 }

 .col-left {
     width: 100%;
     overflow: hidden;
     border-radius: 10px 10px 0 0;
 }

 .col-right {
     padding: 25px;
 }

 .category {
     text-transform: uppercase;
     color: #6C7289;
     font-size: 14px;
     letter-spacing: 5px;
     margin: 5px 0;
 }

 h1 {
     font-family: 'Fraunces', serif;
     font-size: 36px;
     line-height: 100%;
     color: #1C232B;
     margin: 20px 0;
 }

 h1~p {
     color: #6C7289;
     font-size: 16px;
     line-height: 155%;
 }

 .current-price {
     font-family: 'Fraunces', serif;
     color: #3D8168;
     font-size: 36px;
     /* flex-shrink: 1; */
 }

 .original-price {
     color: #6C7289;
     font-size: 16px;
     align-self: center;
     margin-left: 25px;
     /* flex-shrink: 1; */
 }

 .price {
     margin: 20px 0;
     display: flex;
 }

 button {
     width: 100%;
     font-size: 14px;
     background-color: #3D8168;
     padding: 18px 0;
     color: #FFFFFF;
     font-weight: 700;
     border-radius: 10px;
     letter-spacing: 1px;
     position: relative;
     cursor: pointer;
 }

 button:hover {
     background-color: #1A4032;

 }

 button::before {
     content: '';
     width: 30px;
     height: 16px;
     position: absolute;
     top: 35%;
     left: 28%;
     background-image: url(../images/icon-cart.svg);
     background-size: contain;
     background-repeat: no-repeat;

 }